{% extends "recipe/base.html" %}

{% block content %}
<div class="container text-center welcome">
    <h1>Dashboard</h1>
</div>

<div class="container">
    <h3> Your Treasured Recipes </h3>
    <div class="d-flex justify-content-end">
        <a href= "{% url 'create' %}" class="btn btn-success mb-3">Create New Recipe</a>
    </div>
    </a>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if recipes %}
    <div class="recipe-items">
        {% for recipe in recipes %}
        <div class="recipe-item">
            <div class="title">{{ recipe.title }}</div>
            <div class="instructions">
                <div><strong>Instructions:</strong></div>
                {{ recipe.instructions | truncatechars:50 }}
            </div>
            <div class="actions">
                <a href= "/recipe/show/{{ recipe.id }}" class="btn btn-primary">View</a>
                    <a href= "/recipe/edit/{{ recipe.id }}" class="btn btn-secondary">Edit</a>
                    <button type="button" class="btn btn-danger" onClick="confirmDelete({{ recipe.id }})">Delete</button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}

    <p>You don''t have any recipies... </p>
    <a href= "{% url 'create' %}">
        <button type="button" class="btn btn-primary">Create New Recipe</button>
    </a>

    {% endif %}
</div>



{% endblock %}