{% extends "recipe/base.html" %}

{% block content %}
<div class="container">
    <h1>{{recipe.title}}</h1>
    <p> <h5>Ingredients:</h5> {{ recipe.ingredients|linebreaks }}</p>
    <p> <h5>Instructions:</h5> {{ recipe.instructions|linebreaks }}</p>

    <a href= "/recipe/edit/{{ recipe.id }}">
         <button type="button" class="btn btn-primary">Edit</button></a>

        <button type="button" class="btn btn-danger" onClick="confirmDelete({{ recipe.id }})">Delete</button>

</div>

{%endblock%}
