{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="px-4 text-center">
    <img class="d-block mx-auto mb-4 img" src="{% static 'images/front-page1.webp' %}" alt="Hands cutting carrots on a cuttingboard">
    <h1 class="display-5 fw-bold">Welcome to Treasure Your Recipe</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">The app that lets you cherish and manage the recipes 
        that mean the most to you. Whether it's a beloved family recipe passed down through generations
        or a new creation you've perfected, this is the place to store, organize, and celebrate your 
        culinary treasures. With Treasure Your Recipe, you can easily preserve the dishes that hold 
        special memories, keep track of your favorite ingredients, and create a personalized 
        collection that reflects your unique culinary journey. No matter where life takes you, 
        this app helps ensure your most treasured recipes are always within reach.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {% if request.user.is_authenticated %}
        <a href= "{% url 'create' %}">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Create New Recipe</button>
        </a>
        {% else %}
        <a href= "{% url 'account_signup' %}">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign Up</button>
        </a>
        <a href= "{% url 'account_login' %}">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Login</button>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
{%endblock%}
