.errorlist {
    list-style: none;
    padding-left: 0;
}

.errorlist li {
    padding: 4px 10px;
    border: solid 1px #f1aeb5;
    background-color: #f8d7da;
    color: #58151c;
    border-radius: 5px;
    margin-bottom: 5px;
}

nav {
    margin-bottom: 50px;
}

.welcome {
    margin-top: 30px;
    margin-bottom: 70px;

}

.dashview {
    display: flex;
    gap: 10px;
}

.recipe-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.recipe-item {
    padding: 15px;
    border:solid 1px #DDD;
    border-radius: 15px;
    width: 316px;
}

.recipe-item .title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.recipe-item .instructions {
    font-size: 0.9rem;
}

.recipe-item .actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .recipe-item {
        width: 100%;
    }
}