<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Treasure Your Recipe</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
              <a class="nav-link {% if url_name == 'create' %}active{% endif %}" href="{% url 'create'%}">Create Recipe</a>
              <a class="nav-link {% if url_name == 'dashboard' %}active{% endif %}" href= "{% url 'dashboard' %}">View Recipes</a>
              <a class="nav-link {% if url_name == 'accounts_email' %}active{% endif %}" href="{% url 'account_email' %}">Account</a>
              <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}" href="{% url 'account_logout' %}">Logout</a>
            </div>
          </div>
        </div>
      </nav>
</header>
 